@model CodeFirst.Models.LoginModel

<div class="inner_page_about">
</div>


<head>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Convey a Transportation Category Bootstrap Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!--stylesheets-->
    <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- partner js-->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>

<body>


    <div style="text-align:center; padding-top:10px">
        <h4 style="color:#0ca2cf !important;">Login Form</h4>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="text-danger" style="text-align:center">
            @ViewBag.Message
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    @Html.ValidationMessage("Error", null, new { @class = "text text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
                <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
            </div>

            <br />
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3"></div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <div class="form-group">
                        <div class="form-group" style="padding-left:10px">
                            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <div class="checkbox" style="padding-left:20px;">
                                    @Html.EditorFor(model => model.RememberMe)
                                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                                </div>
                                <div style="padding-left:250px;">
                                    <p>
                                        Forgot Password?
                                        <a href="/Account/ForgotPassword" style="color:lightblue;">   Click here</a>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3"></div>
            </div>

            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 col-lg-5"></div>
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4" style="padding-left:120px;">
                    <input type="submit" value="Login" class="btn btn-default" />
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3">
                    
                </div>
            </div>
        </div>    
    </div>
    }

    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
