@model CodeFirst.Models.ResetPasswordModel

@{
    ViewBag.Title = "ResetPassword";
}

<div class="inner_page_about">
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="container-fluid">
    <div class="form-horizontal">
        <h4 style="text-align:center">Reset Password </h4>
        <hr />
        <div class="text-success" style="text-align:center">
            @ViewBag.Message
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
        </div>



        <div class="form-group">
            @Html.HiddenFor(a => a.ResetCode)
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6">
                <div class="form-group" style="align-items:center">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 col-xs-3"></div>
        </div>
    </div>
</div>
}

